@import "../../sass/abstract/mixins";
@import "../../sass/abstract/constants";

.hotel-favorite__icon {
  margin-right: 8px;
}

.hotel-price {
  @include font(1.1rem, 2.2rem, 300);
  letter-spacing: -0.408px;
  color: $color-hotel-price;
}

.price-digits {
  margin-left: 10px;
  @include font(1.7rem, 2.2rem, 400);
  text-align: right;
  letter-spacing: -0.408px;
  color: $color-text;
}
