@import "../../sass/abstract/mixins";
@import "../../sass/abstract/placeholders";
@import "../../sass/abstract/constants";

.search-page {
  padding-bottom: 26px;
  height: 100%;
  background: $color-search-bg;
}

.main-block {
  margin: 0 auto;
  max-width: 1048px;
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.search-params {
  padding: 32px;
  width: 360px;
  gap: 32px;
  background: $color-light;
  box-shadow: 0px 4px 33px $color-box-shadow;
  border-radius: 16px;
}

.search__input-wrapper {
  margin-bottom: 8px;
}

.search__input {
  margin-top: 7px;
  margin-bottom: 8px;
  width: 296px;
}

.search__input-label {
  @include font(1.6rem, 1.9rem);
  color: $color-text;
}

.search__button {
  margin-top: 16px;
}

.hotels {
  padding: 48px 32px;
  width: 664px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  background: $color-light;
  box-shadow: 0px 4px 33px $color-box-shadow;
  border-radius: 16px;
}

.current-check-in-date {
  @include font(2.4rem, 2.8rem, 400);
  text-align: right;
  color: $color-text-secondary;
}

.hotels-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotels-header__icon {
  margin: 0 20px;
}

.hotels-list {
  width: 600px;
  max-height: 504px;
  overflow: auto;
  @extend %custom-scroll;
}

.favorite-hotels-counter {
  @include font(1.7rem, 2.2rem, 300);
  letter-spacing: -0.408px;
  color: $color-text;
}

.favorite-hotels-number {
  @include font(1.7rem, 2.2rem);
  color: $color-text-secondary;
}
